.mria {
  width: 400px;
  height: 700px;
  border: 1px solid #5e5d5d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mria .mria_image_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mria .mria_image_info img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 5px 5px #ccc;
          box-shadow: 5px 5px 5px 5px #ccc;
}
.mria .mria_about {
  border-top: 1px solid #5e5d5d;
  width: 90%;
}
.mria .mria_about .mria_about_el {
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px 0 10px;
}
.mria .mria_about .mria_about_el.grey {
  background-color: #afadad;
}

